body, h1, h2, h3, p, img, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .header_curvature {
  width: 100%;
  height: 100%;
} */

.left-background {
  background-color: rgb(99, 99, 238);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start (left) */
  justify-content: flex-end; /* Align items to the end (right) */
  height: 100%;
  width: 80%;
  box-sizing: border-box;
}

.right-background {
  background-color: rgb(223, 125, 141);
  padding: 15px;
  display: flex;
  justify-content: flex-end; /* Align content to the right */
  align-items: center;
  height: 100%;
  width: 20%;
  box-sizing: border-box;
}

.header_socials {
  display: flex;
  gap: 20px; /* Adjust the gap as needed */
  align-items: flex-start; /* Align items to the start (left) */
}
.align-self-end {
  margin-left: auto;
}

/* =================================================================== */

.header {
  position: relative;
  overflow: hidden;
}



/* =================================================================== */
/* navbar */
/* =================================================================== */


/* app.component.css */
.custom-navbar {
  height: 98px;
  background-size: cover;
  background-position: center;
}

.navbar-nav {
  margin-bottom: 45px !important;
  margin-right: 60px !important;
}

.logo {
  position: absolute;
  top: 0px; /* Adjust the top position as needed */
  left: 50px; /* Adjust the left position as needed */
  height: 100px; /* Set the height as needed */
  width: 190px; /* Set the width as needed */
}

.navbar-brand img {
  max-height: 100px; /* Adjust the max height of the logo */
}

.navbar-nav .nav-link {
  color: #331a8d; /* Text color */
  font-weight: bold;
  transition: color 0.3s ease; /* Smooth transition effect */
}

.navbar-nav .nav-link:hover {
  color: #2f9744; /* Change color on hover */
}

.navbar-toggler {
  border-color: #fff; /* Border color of the toggler button */
}

.navbar-toggler-icon {
  background-color: #fff; /* Color of the toggler icon */
}

/* Styles for the dropdown */
.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  border: none;
  background-color: #fff; /* Background color of the dropdown */
}

.dropdown-item {
  color: #333; /* Text color of dropdown items */
}

.dropdown-item:hover {
  background-color: #ffcc00; /* Background color on hover */
  color: #fff; /* Text color on hover */
}
/* =================================================================== */
/* navbar end*/
/* =================================================================== */
